<!DOCTYPE html>
<html lang="en">
<head>
  <title>Efty's Spotify App - Artist Search Results</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Artist Search Results</h1>

  {{#if artists.length}}
    <ul>
      {{#each artists}}
        <li>
          <h3>{{name}}</h3>
          {{#if images.length}}
            <img src="{{images.[0].url}}" alt="Artist Image">
          {{else}}
            <p>No image available</p>
          {{/if}}
          <a href="/albums/{{id}}">View Albums</a> <!-- Link to view albums for a particular artist -->
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No artists found</p>
  {{/if}}
</body>
</html>